/* colors variables */
:root {
  --blue: #2301AD;
  --yellow: #EEC643;
  --bg-blue: #1600C1;
  --white: #FFF;
  --dark-blue: #04034B;
}

  .img-100 {
    max-width: 100px;
    margin:0 auto;
  }
  .img-250 {
    max-width: 250px;
    margin:0 auto;
  }

  @media only screen and (max-width: 768px) {
    body main {
          margin-top: 150px;
    }
  }
@media only screen and (max-width: 600px) {
  img.codingLogo {
        width: 60vw;
        margin: 50px auto;
  }
}
